<div class="loading" *ngIf="loading">
	<img src="../assets/img/loader.gif">
</div>
<div class="album-box" *ngIf="album">
	<h1> {{album.title}} </h1>
	<p class="description">{{album.description}}</p>
	<a class="btn btn-default" [routerLink]="['/add-image', album._id]">Añadir Imagen</a>

	<div id="gallery-images" *ngIf="images">
		<ul id="picture-list">
			<li *ngFor="let image of images" class="image-item" >
				<div class="picture">
					<img src="{{api_url + image.picture}}" alt="" *ngIf="image.picture && image.picture !='null'"/>
				</div>
				<div class="title">
					<a [routerLink]="['/image', image._id]">{{image.title}}</a>
				</div>
			</li>
		</ul>
	</div>
	
	<div class="clearfix"></div>

</div>
